@charset "UTF-8";

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.header_icons #my_id{
	color: #63CC63;
	margin-right: 10px;
}
.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-box, .register-box {
    text-align: center;
}

h2 {
    margin: 20px 0;
}

.textbox {
    margin: 15px 0;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.textbox.gender {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textbox.gender label {
    margin: 0 10px;
}

.textbox.gender input[type="radio"] {
    margin: 0 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

p {
    margin: 10px 0;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.logout-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #45a049;
}
